/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
}



/**********/
/* Header */
/**********/

header a {
	float: left;
}

header img:first-of-type {
	float: right;
    transition: 1s;display: block;
}

header img{
	float: right;
	width: 2em;
	height: 2em;
	margin-bottom: 1em;
}

header img:hover {
    opacity: 0.5;
}
 /**********/
  /* Main */
  /**********/
  
video {
	width: 22.5em;
	height: 12em;
}

main h1 {
	color: #111;
	text-align: center;
	text-transform: uppercase;
	font-family:arial ;
	letter-spacing: 0,08em;
	font-size: x-large;
	margin: 0%;
}

main h2 {
	text-align:left;
	font-size:large;
	padding-top: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
main section:nth-of-type(3) h2 {
	padding-top: 1em;
}

main section:nth-of-type(4) h2 {
	padding-top: 6em;
}

main h3 {
	text-align: center;
	font-size: x-small;
}

main p {
	text-align: center;
	font-size: x-small;
	font-family: 'Times New Roman', Times, serif;
}

main section:nth-of-type(1) button{
	background-color:black;
	border: none;
	color: white;
	padding: 6px 16px;
	text-align: center;
	font-size: 8px;
	border-radius: 25px;
	position: absolute;
	left: 18em;
	top: 80em;
}

main section:nth-of-type(2) button:nth-of-type(1) {
	background-color: lightgrey;
	color: #000;
	border: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	left: 25em;
	top: 41em;
	border-radius: 10px;

}

main section:nth-of-type(2) button:nth-of-type(2) {
	background-color: lightgrey;
	border: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	left: 23em;
	top: 41em;
	border-radius: 25px;
	opacity: 0.5;
}

main section:nth-of-type(3) button:nth-of-type(1) {
	background-color: black;
	color: white;
	border: none;
	padding: 1em 1em 1em 1em;
	position: absolute;
	left: 1em;
	top: 108em;
	border-radius: 25px;
	font-size: x-small;

}

main section:nth-of-type(3) button:nth-of-type(2){
	background-color: black;
	color: white;
	border: none;
	padding: 1em 1em 1em 1em;
	position: absolute;
	left: 19em;
	top: 108em;
	border-radius: 25px;
	font-size: x-small;
}

main section:nth-of-type(4) button:nth-of-type(1) {
	background-color: lightgrey;
	border: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	left: 25em;
	top: 87em;
	border-radius: 25px;
}

main section:nth-of-type(4) button:nth-of-type(2) {
	background-color: lightgrey;
	border: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	left: 23em;
	top: 87em;
	border-radius: 25px;
	opacity: 0.5;
}


main section:nth-of-type(5) button {
	background-color: black;
	color: white;
	border: none;
	padding: 1em 1em 1em 1em;
	position: absolute;
	left: 19em;
	top: 195em;
	border-radius: 25px;
	font-size: xx-small;
}


ul {
	display:flex;
	overflow-x:auto;
	-webkit-overflow-scrolling: touch;
	padding-left: 0;
  }
  
  ul li {
	align-items:flex-start;
	display:flex;
	flex-direction:column-reverse;
	font-family: 'Times New Roman', Times, serif;	
  }

  ul li img{
	max-width: 12em;
	padding: .5em;
	padding-left: 0;
  }

main section:nth-of-type(1) img {
width:7em;
margin-left: 7.5em;
}

main img:nth-of-type(2){
	width:22.5em;
	height: 10em;

}

  main section:nth-of-type(3) img {
	width: 22.5em;
	height: 10em;
	padding-left: 0;
  }
  
  main section:nth-of-type(5) img {
	width: 22.5em;
	height: 12em;
	padding-left: 0;
  }

  main section:nth-of-type(6) img {
	width: 22.5em;
	height: 9em;
	padding-left: 0;
  }


  main section:nth-of-type(3) h2:nth-of-type(2){
	padding-left: .4em;
	font-weight: lighter;
	font-size: .9em;
	position: absolute;
	top: 71em;
  }

  main section:nth-of-type(3) h2:nth-of-type(3){
	padding-left: 13em;
	font-weight: lighter;
	font-size: .9em;
	position: absolute;
	top: 71em;
  }

  main h2:nth-of-type(4){
	padding-left: .4em;
	font-weight: lighter;
	font-size: .9em;
	position: absolute;
	top: 79em;
	left: 13em;
  }
  

 main h3:nth-of-type(2) {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
 }

 main h4 {
	font-size: medium;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	padding-left: 1em;
 }

 main section:nth-of-type(9) h4 {
	font-size: small;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
 }
 
.imghead {
	height: 13em !important;
	width: 22.5em !important;
	margin-left: 0 !important;
}
 
.button1 {
	left: 18em;
    top: 43em;
}

.arrow1 {
    top: 30em !important;
}

.arrow2 {
    background-color: lightgrey !important;
    border: none !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    position: absolute !important;
    left: 25em !important;
    top: 52em !important;
	font-size: 13.3px !important;
	color: black !important;
}

.arrow3 {
    background-color: lightgrey !important;
    border: none !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    position: absolute !important;
    left: 23em !important;
    top: 52em !important;
    border-radius: 25px !important;
    opacity: 0.5 !important;
	font-size: 13.3px !important;
	color: black !important;
}

.arrow4 {
    background-color: lightgrey !important;
    border: none !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    position: absolute !important;
    left: 25em !important;
    top: 82em !important;
    border-radius: 25px !important;
	font-size: 13.3px !important;
	color: black !important;
}

.arrow5 {
    background-color: lightgrey !important;
    border: none !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    position: absolute !important;
    left: 23em !important;
    top: 82em !important;
    border-radius: 25px !important;
    opacity: 0.5 !important;
	font-size: 13.3px !important;
	color: black !important;
}

.nieuwste {
	padding-top: 0 !important;
}


/**********/
/* Footer */
/**********/
footer{
	background-color: black;
	padding-top: 0.5em;
	padding-bottom: 1em;
}
footer h4{
	color: white;
	font-size: small;
	font-family:arial, sans-serif;
	padding-left: 1em;
	
}
main section:nth-of-type(9) h4 {
	font-size: small;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
 }



	
