/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main img{
	width: 22em;
	height: 12em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}


header a {
	float: left;
}

header img {
	float: right;
    transition: 1s;display: block;
}

header img:hover {
    opacity: 0.5;
}

main h1 {
    color: #111;
	text-align: center;
	text-transform: uppercase;
	font-family:arial ;
	letter-spacing: 0,08em;
	font-size: x-large;

}

main h3{
	text-align: center;
	font-size: x-small;
}

main p{
	text-align: center;
	font-size: small;
}