/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
}



/**********/
/* Header */
/**********/

header a {
	float: left;
}

header img:first-of-type {
	float: right;
    transition: 1s;display: block;
}

header img{
	float: right;
	width: 2em;
	height: 2em;
	margin-bottom: 1em;
}

header img:hover {
    opacity: 0.5;
}


/**********/
/* Footer */
/**********/
footer{
	background-color: black;
	padding-top: 0.5em;
	padding-bottom: 1em;
}
footer h4{
	color: white;
	font-size: small;
	font-family:arial, sans-serif;
	padding-left: 1em;
	
}
main section:nth-of-type(9) h4 {
	font-size: small;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
 }


/*
input, textarea {
	padding:5px; 
	width:250px;
	font:12px Verdana;
	margin-bottom:10px;
}

input[type=submit] {
	padding:5px 15px; 
	background:black;
	color: white;
}
*/
	
